/*[class *='grid']{
	width: 100%;
	float: left;
	min-height: 1px;
}*/

/*@media only screen and (max-width: 577px;) {
  /* For mobile phones: */
 /* [class*="cols-"] {
    width: 100%;
  }
}

@media only screen and (min-width: 577px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.cols-12 {width: 100%;}
}*/


}
@media only screen and (max-width: 959px) {
.some2 {
display: none;
}
}
@media only screen and (max-width: 1095px) {
.ajustaFonteSize {
font-size: .7em;
}
}
@media only screen and (max-width: 1110px) {
.corpoDoFolderResponsivo {
width: 100%;
margin: 0 auto;
}
}
@media only screen and (max-width: 1040px) {
.aparece{
  display: block;
}
}
@media only screen and (max-width: 600px) {
.some{
  display: none;
}
}

@media only screen and (max-width: 1140px) {
.diminui_1 {
  font-size: 1.6em;
}
}
@media only screen and (max-width: 960px) {
.diminui_2 {
  font-size: 1.2em;
}
}
@media only screen and (max-width: 600px) {
.diminui_3 {
  font-size: .9em;
}
}
@media only screen and (max-width: 300px) {
.diminui_4 {
  font-size: .7em;
}
}
@media only screen and (max-width: 960px) {
.diminui_2 img{
  width: 100%;
  height: 100%
}
}
@media only screen and (max-width: 600px) {
.diminui_3 img{
  width: 100%;
  height: 100%
}
}
@media only screen and (max-width: 300px) {
.diminui_4 img{
  width: 100%;
  height: 100%
}
}

@media only screen and (max-width: 400px) {
.diminui_logo img {
  width: 70px;
  right: 100%;
  margin-bottom: 30px;
}
}

@media only screen and (max-width: 1040px){
.topo2 {
	position: fixed;
	background-color: #81BEF7;
	width: 100%;
	height: 90px;
}
}
@media only screen and (max-width: 1110px){
.folderResponsivo {
	background-color: red;
	margin-left: 7px;
	height: 100px;
		
}
}
@media only screen and (max-width: 1107px){
	.ajuste {
	margin-top: 100px;
}
}

@media only screen and (max-width: 1040px){
.imagem2 img {
	width: 100%;
	margin-top: 0px;
}
}
@media only screen and (max-width: 1040px){
.logo2 {
	font-size: 1em;
}
}
@media screen and (max-width: 360px){
    .grid-mc-1 {width: 8.33333%}
	.grid-mc-2 {width: 16.66666%}
	.grid-mc-3 {width: 25%}
	.grid-mc-4 {width: 30%}
	.grid-mc-5 {width: 41.66667%}
	.grid-mc-6 {width: 50%}
	.grid-mc-7 {
		width: 100px;
		font-size: 1em;
		color: red;
		text-align: center;
		margin-top: 2px;
}
	.grid-mc-8 {width: 66.66666%}
	.grid-mc-9 {width: 75%}
	.grid-mc-10 {width: 83.33333%}
	.grid-mc-11 {width: 91.66667%}
	.grid-mc-12 {width: 100%; 	
	  min-height: 150px;
	  position: relative;	
}
}
@media screen and (min-width: 600px){
	.grid-p-1 {width: 8.33333%}
    .grid-p-2 {width: 16.66666%}
	.grid-p-3 {width: 25%}
	.grid-p-4 {width: 32.33333%}
	.grid-p-5 {width: 41.66667%}
	.grid-p-6 {width: 10%}
	.grid-p-7 {width: 58.33333%}
	.grid-p-8 {width: 66.66666%}
	.grid-p-9 {width: 75%}
	.grid-p-10 {width: 83.33333%}
	.grid-p-11 {width: 91.66667%}
	.grid-p-12 {width: 100%}
}

@media screen and (min-width: 960px){
	.grid-m-1 {width: 8.33333%}
	.grid-m-2 {width: 16.66666%}
	.grid-m-3 {width: 25%}
	.grid-m-4 {width: 33.33333%}
	.grid-m-5 {width: 41.66667%}
	.grid-m-6 {width: 50%}
	.grid-m-7 {width: 58.33333%}
	.grid-m-8 {width: 66.66666%}
	.grid-m-9 {width: 75%}
	.grid-m-10 {width: 83.33333%}
	.grid-m-11 {width: 91.66667%}
	.grid-m-12 {width: 100%}
  }

@media screen and (min-width: 1460px){
	.grid-g-1 {width: 8.33333%}
    .grid-g-2 {width: 14%}
	.grid-g-3 {width: 25%}
	.grid-g-4 {width: 32.33333%}
	.grid-g-5 {width: 41.66667%}
	.grid-g-6 {width: 50%}
	.grid-g-7 {width: 58.33333%}
	.grid-g-8 {width: 66.66666%}
	.grid-g-9 {width: 75%}
	.grid-g-10 {width: 83.33333%}
	.grid-g-11 {width: 91.66667%}
	.grid-g-12 {width: 100%}
}
